<app-header></app-header>
<div class="body">
    <div class="contact-dets">
        <h5>
            SUNNY KURAPATI
        </h5>

        <h6>
            INDIA
        </h6>
        <p>
            Ph: +91 88866 69659
        </p>
        <p>
            Email: sunnykurapati@gmail.com
        </p>
        <br>
        <br>
        <h6>
            PRAGUE
        </h6>
        <p>
            Tel: +420 775 083 965
        </p>
        <p>
            Email: sunnykurapati@gmail.com
        </p>

    </div>
</div>