<header>
  <div class="container">
    <h1>
      <!-- SUNNY KURAPATI
      <span>DIRECTOR OF PHOTOGRAPHY</span> -->
      <div class="logo-img" [routerLink]="['/']">
        <img src="../../assets/title.png" alt="">
      </div>
    </h1>
    <div class="contact">
      <ul class="list-unstyled">
        <li>
          <i>
            <a href="https://www.imdb.com/name/nm8461744/" target="_blank">IMDB</a> 
          </i> 
        </li>
        <li [routerLink]="['/contact']" routerLinkActive="link-active" >
          <i>
            CONTACT
          </i> 
        </li>
        <li>
          <a href="https://www.instagram.com/sunnykurapati/?hl=en" target="_blank">
            <i>
              INSTAGRAM
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
