footer .container {
  padding: 8px 0;
  text-align: center;
  font-size: 80%;
  color: #fff;
  font-weight: var(--fw-normal);
}
footer .container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  color: #f00;
  text-decoration: none;
}

.heart {
  color: #f00;
  font-size: 110%;
}
