<app-header></app-header>
<div class="body project-body">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">OLA</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">SUNNY KURAPATI</span>
        </li>
        <li>
          <span class="key">FORMAT: &nbsp;</span><span class="value">PHOTOGRAPHY</span>
        </li>
        <li>
          <span class="key">SHOT ON: &nbsp;</span><span class="value">FUJIFILM X100S, FUJIFILM XE1</span>
        </li>
      </ul>
    </div>
    <div class="content">

      <div class="image-gallery">

        <img src="../../../assets/works/7.Ola (2016) (Still)/001.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/002.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/003.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/004.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/005.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/006.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/007.jpg" alt="">
        <img src="../../../assets/works/7.Ola (2016) (Still)/008.jpg" alt="">

      </div>

    </div>
  </div>
</div>
<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>