<app-header></app-header>
<div class="body">

  <div class="con">
    <div class="row">
      <!-- 1 -->

      <!-- Dorasaani (Motion) -->
      <div class="col col-one">
        <img src="../../assets/works/11.Dorasaani (Motion)/000cover copy.jpg" [routerLink]="['/DORASAANI']">
        <div class="desc">
          <h5>DORASAANI</h5>
          <h6>
            <i>
              (Motion)
            </i>
          </h6>
        </div>
      </div>
      <!-- 2 -->
      <!-- Agent Sai Srinivasa Athreya (Motion) -->
      <div class="col col-two">
        <img src="../../assets/works/10.Agent Sai Srinivasa Athreya(Motion)/000cover.jpg"
          [routerLink]="['/AGENT-SAI-SRINIVASA-ATHREYA']">
        <div class="desc">
          <h5>AGENT SAI SRINIVASA ATHREYA</h5>
          <h6>
            <i>
              (Motion)    
            </i>
          </h6>
        </div>
      </div>
    </div>
    <div class="row slideanim">
      <!-- 3 -->
      <!-- Confessions of a box man -->
      <div class="col col-one">
        <img src="../../assets/works/9.Confessions of a Box Man (Motion)/000cover copy.jpg"
          [routerLink]="['/CONFESSIONS-OF-A-BOX-MAN']">
        <div class="desc">
          <h5>CONFESSIONS OF A BOX MAN</h5>
          <h6>
            <i>
              (Motion)
            </i>
          </h6>
        </div>
      </div>

      <!-- 4 -->
      <!-- Forever professor -->
      <div class="col col-two">
        <img src="../../assets/works/8.Forever Professor (Motion)/000cover copy.jpg"
          [routerLink]="['/FOREVER-PROFESSOR']">
        <div class="desc">
          <h5>FOREVER PROFESSOR</h5>
          <h6>
            <i>
              (Motion)
            </i>
          </h6>
        </div>
      </div>
    </div>

    <div class="row slideanim">
      <!-- 5 -->
      <!-- Ola (still) -->
      <div class="col col-one">
        <img src="../../assets/works/7.Ola (2016) (Still)/000cover copy.jpg" [routerLink]="['/OLA']">
        <div class="desc">
          <h5>OLA</h5>
          <h6>
            <i>
              (Still)
            </i>
          </h6>

        </div>
      </div>
      <!-- 6 -->
      <!-- Two faced fellow -->
      <div class="col col-two">
        <img src="../../assets/works/6.Two Faced Fellow (Motion)/000cover copy.jpg"
          [routerLink]="['/TWO-FACED-FELLOW']">
        <div class="desc">
          <h5>TWO FACED FELLOW</h5>
          <h6>
            <i>
              (Motion)
            </i>
          </h6>
        </div>
      </div>
    </div>

    <div class="row slideanim">
      <!-- 7 -->
      <!-- Katia -->
      <div class="col col-one">
        <img src="../../assets/works/5.Katia (Still)/000cover.jpg" [routerLink]="['/KATIA']">
        <div class="desc">
          <h5>KATIA</h5>
          <h6>
            <i>
              (Still)
            </i>
          </h6>
        </div>
      </div>
      <!-- 8 -->
      <!-- Resolutions -->
      <div class="col col-two">
        <img src="../../assets/works/4.Resolutions  (Motion)/000cover copy.jpg" [routerLink]="['/RESOLUTIONS']">
        <div class="desc">
          <h5>RESOLUTIONS</h5>
          <h6>
            <i>
              (Motion)
            </i>
          </h6>
        </div>
      </div>
    </div>

    <div class="row slideanim">
      <!-- 9 -->
      <!-- Christmas fish -->
      <div class="col col-one">
        <img src="../../assets/works/3.Chirstmas Fish (Still)/000cover copy.jpg" [routerLink]="['/CHRISTMAS-FISH']">
        <div class="desc">
          <h5>CHRISTMAN FISH</h5>
          <h6>
            <i>
              (Still)
            </i>
          </h6>
        </div>
      </div>
      <!-- 10 -->
      <!-- This is love (still) -->
      <div class="col col-two">
        <img src="../../assets/works/2.This is love (Still)/000cover copy.jpg" [routerLink]="['/THIS-IS-LOVE']">
        <div class="desc">
          <h5>THIS IS LOVE</h5>
          <h6>
            <i>
              (Still)
            </i>
          </h6>
        </div>
      </div>

    </div>
    <div class="row slideanim">
      <!-- 11 -->
      <!-- India 2010-2013 (still) -->
      <div class="col col-one">
        <img src="../../assets/works/1.India 2010-2013 (Still)/000cover.jpg" [routerLink]="['/BW-INDIA']">
        <div class="desc">
          <h5>INDIA 2010-2013</h5>
          <h6>
            <i>
              (Still)
            </i>
          </h6>
        </div>
      </div>

    </div>
  </div>