<app-header></app-header>
<div class="body project-body">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">INDIA (2010-2013)</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">SUNNY KURAPATI</span>
        </li>
        <li>
          <span class="key">FORMAT: &nbsp;</span><span class="value">PHOTOGRAPHY</span>
        </li>
        <li>
          <span class="key">SHOT ON: &nbsp;</span><span class="value">CANON 7D, 5D</span>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="image-gallery">


        <img src="../../../assets/works/1.India 2010-2013 (Still)/01. Taj Mahel.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/02.Portrait-Varanasi.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/03. Portrait-Bharatpur.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/04.Dasashwamedh Ghat,Varanasi.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/5 Portrait-hyd.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/06 People-Varanasi.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/07 Varanasi.jpg" alt="">



        <img src="../../../assets/works/1.India 2010-2013 (Still)/8.Bhaunsla Ghat,Varanasi-india 1.jpg" alt="">


        <img src="../../../assets/works/1.India 2010-2013 (Still)/9.Manikarnika Ghat Varanasi india.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/Mehtab bagh,Agra-india.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/11 Manikarnika Ghat Varanasi india.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/12 Sun-Halo.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/Bhaunsla Ghat,Varanasi-india 1.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/Pallbearers @ Manikarnika Ghat, Varanasi -india.jpg" alt="">

        <img src="../../../assets/BW_INDIA_2010-2013/IMG_1950 1.jpg" alt="">


      </div>


    </div>
  </div>
  <!-- <div class="content">

      <div class="image-gallery-core">

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/01. Taj Mahel.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/02.Portrait-Varanasi.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/03. Portrait-Bharatpur.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/04.Dasashwamedh Ghat,Varanasi.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/5 Portrait-hyd.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/06 People-Varanasi.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/07 Varanasi.jpg" alt="">
        </div>

        <div class="image-card">
          <img src="../../../assets/works/1.India 2010-2013 (Still)/8.Bhaunsla Ghat,Varanasi-india 1.jpg" alt="">

          <div class="image-card">
            <img src="../../../assets/works/1.India 2010-2013 (Still)/9.Manikarnika Ghat Varanasi india.jpg" alt="">
          </div>

        </div>


      </div>
    </div> -->
</div>
<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>