<app-header></app-header>
<div class="body project-body motion-project">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">RESOLUTIONS</span>
        </li>
        <li>
          <span class="key">DIRECTOR: &nbsp;</span><span class="value">Mika Johnson</span>
        </li>
        <li>
          <span class="key">DIGITAL COLORIST: &nbsp;</span><span class="value">Sunny Kurapati</span>
        </li>
        <li>
          <span class="key">FORMAT: &nbsp;</span><span class="value">Short</span>
        </li>
      </ul>
    </div>
    <div class="content">

      <div class="img">
          <iframe src="https://player.vimeo.com/video/160265061" width="100%" height="660" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>

      <div class="img slideanim">
        <img src="../../../assets/works/4.Resolutions  (Motion)/01.jpg" alt="">
      </div>

      <div class="img slideanim">
        <img src="../../../assets/works/4.Resolutions  (Motion)/02.jpg" alt="">
      </div>

      <div class="img slideanim">
        <img src="../../../assets/works/4.Resolutions  (Motion)/04.jpg" alt="">
      </div>

      <div class="img slideanim">
        <img src="../../../assets/works/4.Resolutions  (Motion)/05.jpg" alt="">
      </div>

    </div>
  </div>
</div>

<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>