<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">TONES OF DIRT AND BONE </span>
        </li>
        <li>
          <span class="key">DIRECTOR: &nbsp;</span><span class="value">ANUK ROHDE</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">PAT ALDINGER</span>
        </li>
        <li>
          <span class="key">FORMAT: &nbsp;</span><span class="value">SHORTFILM</span>
        </li>
        <li>
          <span class="key">SHOT ON: &nbsp;</span><span class="value">ALEXA 65 WITH DNA PRIMES</span>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="img">
          <iframe width="100%" height="498" src="https://www.youtube.com/embed/Bchx0mS7XOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
      </div>
      <div class="img slideanim">
        <img src="../../assets/1.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/2.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/3.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/4.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/5.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/6.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/7.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/8.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/9.jpg" alt="" srcset="">
      </div>
      <div class="img slideanim">
        <img src="../../assets/10.jpg" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
