<app-header></app-header>
<div class="body project-body">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">THIS IS LOVE (2015)</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">SUNNY KURAPATI</span>
        </li>
        <li>
          <span class="key">FORMAT: &nbsp;</span><span class="value">PHOTOGRAPHY</span>
        </li>
        <li>
          <span class="key">SHOT ON: &nbsp;</span><span class="value">FUJIFILM X100S</span>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="image-gallery">

        <img src="../../../assets/works/2.This is love (Still)/01.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/02.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/03.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/04.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/05.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/06.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/07.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/08.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/09.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/10.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/011.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/012.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/013.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/014.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/015.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/016.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/017.jpg" alt="">
        <img src="../../../assets/works/2.This is love (Still)/dark.jpg" alt="">

      </div>
    </div>
  </div>
</div>

<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>