<app-header></app-header>
<div class="body project-body motion-project">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">CONFESSIONS OF A BOX MAN</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">SUNNY KURAPATI</span>
        </li>
      </ul>
    </div>
    <div class="content">

      <div class="img">
        <img src="../../../assets/works/9.Confessions of a Box Man (Motion)/000cover copy.jpg" alt="">
      </div>

    </div>
  </div>
</div>
<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>