<app-header></app-header>
<div class="body project-body motion-project">
  <div class="container">
    <div class="project-dets">
      <ul class="list-unstyled">
        <li>
          <span class="key">PROJECT: &nbsp;</span><span class="value">AGENT SAI SRINIVASA ATHREYA</span>
        </li>
        <li>
          <span class="key">DOP: &nbsp;</span><span class="value">SUNNY KURAPATI</span>
        </li>
      </ul>
    </div>
    <div class="content">
      
      <div class="img">
        <img src="../../../assets/works/10.Agent Sai Srinivasa Athreya(Motion)/000cover.jpg" alt="">
      </div>
      
      <!-- <div class="img slideanim">
        <img src="../../../assets/works/8.Forever Professor (Motion)/002.png" alt="">
      </div> -->

    </div>
  </div>
</div>
<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <!-- <span>X</span> -->
    <img src="">
  </div>
</div>

